@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<br />
<hgroup class="title">
    <h5>Email enviado com sucesso.</h5>
</hgroup>
<div>
    <p>
        Por favor confira o seu email para repor a sua password.

    </p>
</div>
	
