@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
</hgroup>
<div>
    <br />
    <br />
    <h5>
        A sua password foi reposta com sucesso. Pode agora @Html.ActionLink("iniciar sessão", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </h5>
</div>
