@model TP_PWEB.Models.Promocao

@{
    ViewBag.Title = "RemoverPromocao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h5>Tem a certeza que pretende remover a promoção do produto?</h5>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    <br />
        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-warning" /> &nbsp;
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
