@model TP_PWEB.Models.LinhaCompra
@{
	ViewBag.Title = "Confirmar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h5>Pretende confirmar a compra?</h5>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => Model.IdLinhaCompra)
	<br />
	<div class="form-horizontal">
		<input type="submit" value="Confirmar" class="btn btn-primary" /> &nbsp;
		@Html.ActionLink("Voltar", "ListaComprasFuncionario", null, new { @class = "btn btn-default" })
	</div>
}
